.hero{
    .hero__container{
        .hero__img{
            position: absolute;
            left: 0;
            top:200px;
            width: 100%;
            z-index: 2;
            opacity: 0.5;
            img{
                width: 100%;
            }
    }
    .hero__text{
        padding: 11rem 2rem 11rem 3rem;
        max-width: 36rem;
        width: 100%;
        position: relative;
        z-index: 4;
        text-align: left;
        color: $gray-text-color;
        h1{
            font-weight: 800 !important;
        }
}
    button{
        background-color: $main-blue !important;
        color: white !important;
        &:hover{
            background-color: white !important;
            color: black !important;
            border-color: $main-blue !important;
        }
    }
    }
}

@include respond(largeScreen){
    .hero{
        .hero__container{
            .hero__img{
                position: absolute;
                top: 180px;
                left: 45%;
                width: 55%;
                overflow: hidden;
                z-index: 2;
                opacity: 1 !important;
                img{
                    width: 65% !important;
                    max-width: 65% !important;
                }
        }
        .hero__text{
            width: 60% !important;
            h1{
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 2rem;
            }
        }
        }
    }
}