@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$header-font: 'Slabo 13px', serif;
$para-font: 'Lato', sans-serif;
$main-blue: #09A4D8;
$gray-text-color: #444444;