@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

$header-font:'Merriweather', serif;
$para-font:  'Mulish', sans-serif;
$main-blue: #09A4D8;
$footer-color: #0E418A;
$footer-color-ii: #103365;
$gray-text-color: #444444;
$footer-text-color: #cfcfcf;